name: jest-test
on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
  
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
      - name: npm install
        run: make install
      - name: run tests
        uses: paambaati/codeclimate-action@v2.7.4
        env:
          CC_TESTREPORTER: ${{ secrets.CC_TESTREPORTER }}
        with:
          coverageCommand: make test-coverage
